body{
    background-color: #131921;
    font-family: sans-serif;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
}
/*barra de navegacion cambios*/ 
header a{
    text-decoration: none;
    color: _#FFFFFF;
}
header.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 20px;
}
/*barra secundaria de navegacion*/
.nvgdos{
    height: 100%;
    width: 100%;
    background-color: #232F3E;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    color: #FFFFFF;
}
/*seccion y articulos*/
section .hijo{
    color: white;
}
section .hijo img{
    width: 300px;
    height: 200px
}
.padre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 100px;
}
/*barra del boton comprar*/
.btn{
    background-color: #FFFFFF;
    padding-bottom: 10px;
    border-radius: 10px;
}
/*barra de footer*/
.footer-nav {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    color: #FFFFFF;
    }
